.row.row-grid [class*="col-"] + [class*="col-"] {
    margin-top: 15px;
}

@media (min-width: 1200px) {
    .row.row-grid [class*="col-lg-"] + [class*="col-lg-"] {
        margin-top: 0;
    }
}
@media (min-width: 992px) {
    .row.row-grid [class*="col-md-"] + [class*="col-md-"] {
        margin-top: 0;
    }
}
@media (min-width: 768px) {
    .row.row-grid [class*="col-sm-"] + [class*="col-sm-"] {
        margin-top: 0;
    }
}

body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.positive-class {
  color: blue;
}
.negative-class {
  color: red;
}
#positive_label, #negative_label {
  font-weight: bold;
}

#image_panel {
  position: relative;
  border: 1px solid black;
  width: 320px;
  height: 320px;
}
.wrapper {
  padding: 20px;
  text-align: center;
}
.wrapper-block {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#image_panel > img {
  position: absolute;
  top: 0px;
  left: 0px;
}
.image-hidden {
  visibility: hidden;
}
.image-visible {
  visibility: visible;
}
.btn-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.btn-enabled {
  background-color: #00BFFF;
}

.countdown {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 320px;
  line-height: 320px;
  text-align: center;
  font-family: monospace;
  font-size: 160px;
}
