.row.row-grid [class*="col-"] + [class*="col-"] {
    margin-top: 15px;
}

@media (min-width: 1200px) {
    .row.row-grid [class*="col-lg-"] + [class*="col-lg-"] {
        margin-top: 0;
    }
}
@media (min-width: 992px) {
    .row.row-grid [class*="col-md-"] + [class*="col-md-"] {
        margin-top: 0;
    }
}
@media (min-width: 768px) {
    .row.row-grid [class*="col-sm-"] + [class*="col-sm-"] {
        margin-top: 0;
    }
}

body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.positive-class {
  color: blue;
}
.negative-class {
  color: red;
}
.positive-label, .negative-label {
  font-weight: bold;
}

#image_panel {
  position: relative;
  border: 1px solid black;
  width: 420px;
  height: 420px;
}
.wrapper {
  padding: 20px;
  text-align: center;
}
.wrapper-block {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#image_panel > img {
  position: absolute;
  top: 0px;
  left: 0px;
}
.image-hidden {
  visibility: hidden;
}
.image-visible {
  visibility: visible;
}
.bounding-box {
  background-size: contain;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.btn-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.btn-enabled {
  background-color: #00BFFF;
}

.countdown {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  line-height: 400px;
  text-align: center;
  font-family: monospace;
  font-size: 160px;
}

#action_reminders {
  width: 100%;
}
.kbd {
    display: inline-block;
    margin: 0 .1em;
    padding: .1em .6em;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #242729;
    text-shadow: 0 1px 0 #FFF;
    background-color: #e1e3e5;
    border: 1px solid #adb3b9;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(12,13,14,0.2),0 0 0 2px #FFF inset;
    white-space: nowrap;
}

#loading {
  position: absolute;
  top: 150px;
  left: 150px;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
